*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuildLLVM/
.cxx/
local.properties
*.hprof
.navigation/
/app/build
/app/release
/app/debug
*.apk
*.aab
*.jks
*.keystore
!debug.keystore
.kotlin/